In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotnine import *
import gapminder

In [5]:
df = pd.read_csv('precup_rank.csv', index_col='Nation')
df

              Rank   Points
Nation
Brazil           1  1841.30
Belgium          2  1816.71
Argentina        3  1773.88
France           4  1759.78
England          5  1728.47
Spain            7  1715.22
Netherlands      8  1694.51
Portugal         9  1676.56
Denmark         10  1666.57
Germany         11  1650.21
Croatia         12  1645.64
Mexico          13  1644.89
Uruguay         14  1638.71
Switzerland     15  1635.92
USA             16  1627.48
Senegal         18  1584.38
Wales           19  1569.82
Iran            20  1564.61
Serbia          21  1563.62
Morocco         22  1563.50
Japan           24  1559.54
Poland          26  1548.59
South Korea     28  1530.30
Tunisia         30  1507.54
Costa Rica      31  1503.59
Australia       38  1488.72
Canada          41  1475.00
Cameroon        43  1471.44
Ecuador         44  1464.39
Qatar           50  1439.89
Saudi Arabia    51  1437.78
Ghana           61  1393.00