In [2]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotnine import *
import gapminder

In [10]:
matches = pd.read_csv('data/match_data.csv')[['home_team', 'away_team', 'attendance', 'venue', 'home_formation', 'away_formation']]
matches = matches.rename(columns={'home_team': 'team1', 'away_team': 'team2', 'home_formation': 'formation_team1', 'away_formation': 'formation_team2'})

# if team1 or team2 is 'IR Iran', rename it to 'Iran'
matches['team1'] = matches['team1'].replace('IR Iran', 'Iran')
matches['team2'] = matches['team2'].replace('IR Iran', 'Iran')

matches

,team1,team2,attendance,venue,formation_team1,formation_team2
0,Qatar,Ecuador,67372,Al Bayt Stadium,5-3-2,4-4-2
1,England,Iran,45334,Khalifa International Stadium,4-2-3-1,5-4-1
2,Senegal,Netherlands,41721,Al Thumama Stadium,4-2-3-1,3-4-1-2
3,United States,Wales,43418,Ahmed bin Ali Stadium,4-3-3,3-5-2
4,Argentina,Saudi Arabia,88012,Lusail Iconic Stadium,4-4-2,4-1-4-1
...,...,...,...,...,...,...
59,England,France,68895,Al Bayt Stadium,4-3-3,4-2-3-1
60,Argentina,Croatia,88966,Lusail Iconic Stadium,4-4-2,4-3-3
61,France,Morocco,68294,Al Bayt Stadium,4-2-3-1,5-4-1
62,Croatia,Morocco,44137,Khalifa International Stadium,4-2-3-1,4-3-3
63,Argentina,France,88966,Lusail Iconic Stadium,4-3-3,4-2-3-1